.mainLayout {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.left {
    width: 25vw;
    display: flex;
    align-content: end;
}

.right {
    width: 30vw;
}

.middle {
    width: 45vw;
}